{% extends "base.html" %}

{% block css %}

        <style>
            {% for c in clases %} .rad{{c[0]}} {-webkit-border-top-left-radius: {{ c[1] }}px;-webkit-border-top-right-radius: {{ c[2] }}px;-webkit-border-bottom-right-radius: {{ c[3] }}px;-webkit-border-bottom-left-radius: {{ c[4] }}px;-moz-border-radius-topleft: {{ c[1] }}px;-moz-border-radius-topright: {{ c[2] }}px;-moz-border-radius-bottomright: {{ c[3] }}px;-moz-border-radius-bottomleft: {{ c[4] }}px;border-top-left-radius: {{ c[1] }}px;border-top-right-radius: {{ c[2] }}px;border-bottom-right-radius: {{ c[3] }}px;border-bottom-left-radius: {{ c[4] }}px;}{% end %}
        </style>
{% end block %}



{%block contenido %}
    <div id="game-panel" class="col-md-3 rad7">
        <h2> Game Config </h2>
        <form class="form">

        </form>
        <div>
            <label for="record">Max lvl reached: </label>
            <span id="record">100</span>
        </div>

    </div>
    <div class="game-cont rad1">
        <div id="game-offset" class="rad1">
            <div id="game-menu">
                <h1>Welcome underlyier!</h1>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-danger" id="start">Start Game!</button>
                    <button class="btn btn-primary btn-lg btn-danger" id="tutorial">Tutorial</button>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block js%}
    <script data-main="{{ static_url('js/main.js') }}" src="{{ static_url('js/libs/requirejs/require.js') }}"></script>
{% end %}